<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".E2ePicoInterfaceActivity"
            android:configChanges="orientation|uiMode|screenLayout|screenSize|smallestScreenSize|locale|fontScale|keyboard|keyboardHidden|navigation"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/OverteStartupTheme">
            <meta-data android:name="android.app.lib_name" android:value="picoInterface" />
            <meta-data android:name="android.app.qt_libs_resource_id" android:resource="@array/qt_libs" />
            <meta-data android:name="android.app.bundled_in_lib_resource_id" android:resource="@array/bundled_in_lib" />
            <meta-data android:name="android.app.bundled_in_assets_resource_id" android:resource="@array/bundled_in_assets" />
            <meta-data android:name="android.app.load_local_libs"
                android:value="plugins/platforms/android/libqtforandroid.so:plugins/bearer/libqandroidbearer.so:plugins/imageformats/libqsvg.so:lib/libQt5QuickParticles.so" />
            <meta-data android:name="android.app.background_running" android:value="false" />
            <meta-data android:name="android.app.auto_screen_scale_factor" android:value="false" />
            <meta-data android:name="android.app.extract_android_style" android:value="none" />
        </activity>

        <activity
            android:name=".E2eLauncherActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:permission="android.permission.DUMP"
            android:screenOrientation="landscape"
            android:theme="@style/OverteStartupTheme" />
    </application>
</manifest>
